.item {
  background: #fff;
  box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  flex: flex-auto;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary);
  margin-bottom: 6px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.controlls {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}