:root {
  --primary: #9395D3;
  --secondary: #d5d7ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Source Sans 3', sans-serif;
}

text {
  resize: none;
}

a {
  text-decoration: none;
}

ul,ol,li {
  list-style: none;
}
